/* Course: SENG 513 */
/* Date: OCT 22, 2023 */
/* Assignment 2 */
/* Name: Carlos Sujanto */
/* UCID: 30143341 */

*{
    box-sizing: border-box;
}

.app{
    color: tan;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app h1{
    font-size: 5em;
    margin-bottom: 0px;
}

.app p{
    margin: 5px;
    font-size: 2em;
}

.app button{
    margin: 100px;
    background-color: tan;
    color:rgb(90, 72, 50);
    width: 500px;
    height: 65px;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.app button:hover{
    background-color: rgb(90, 72, 50);
    color: tan;
}

.game{
    position: relative;
    display: none;
    overflow: hidden;
    margin: 20px;
    border-width: 7px;
    border-color: tan;
    border-style: ridge;
}


.ui{
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

.avatar{
    background-color: brown;
    border-style: ridge;
    border-color: gold;
    border-width: 7px;
    height: 115px;
    width: 115px;
    flex-shrink: 0;
}

#p1Avatar{
    background-image: url("./assets/player1/Avatar.png");
    background-size: cover;
    image-rendering: pixelated;
}

#p2Avatar{
    background-image: url("./assets/player2/Avatar.png");
    background-size: cover;
    image-rendering: pixelated;
}

.healthBarPlaceholder{
    position: relative;
    height: 50px;
    width: 100%;
}

.healthBar{
    background-color: grey;
    height: 50px;
}

.healthBarBg{
    position: absolute; 
    background: red;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#label{
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    font-size: 2rem;
}

#bgImg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
    image-rendering: pixelated;
}

.timer{
    background-color: rgb(87, 15, 15);
    height: 85px;
    width: 115px;
    flex-shrink: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
    border-style: ridge;
    border-width: 7px;
    border-color: gold;
}

.attackBox{
    position: absolute;
}

.player{
    position: absolute;
    overflow: hidden;
}

#player1Sprite{
    /* IDLE */
    /*     
    divWidth = 75;
    divHeight = 130;
    object-position: -150px -117px;
    width: 3000px; 
    */

    /* RUN */
    /*     
    divWidth = 100;
    divHeight = 130;
    object-position: -132px -117px;
    width: 3000px; 
    */

    /* JUMP */
    /*     
    divWidth = 91;
    divHeight = 130;
    object-position: -140px -110px;
    width: 728px
    */
    
    /* ATTACK */
    /*     
    divWidth = 235;
    divHeight = 130;
    object-position: -71px -156px;
    width: 350px
    */

    object-position: -150px -117px;
    width: 3000px;
    animation: moveSpriteSheet 1s steps(8) infinite;
    image-rendering: pixelated;
}

#player2Sprite{
    /* IDLE */
    /*     
    divWidth = 75;
    divHeight = 130;
    object-position: -65px -53px;
    width: 1450px;
    */
    /* RUN */
    /*     
    divWidth = 120;
    divHeight = 130;
    object-position: -35px -53px;
    width: 2000px; 
    */
    /* JUMP */
    /*     
    divWidth = 80;
    divHeight = 130;
    object-position: -65px -53px;
    width: 490px;
    */
    /* ATTACK */
    /*     
    divWidth = 235;
    divHeight = 130;
    object-position: -5px -62px;
    width: 250px;
    */
    /* HIT */
    /*     
    divWidth = 80;
    divHeight = 130;
    object-position: -70px -45px;
    width: 907px;
    */
    object-position: -65px -53px;
    width: 1450px;
    animation: moveSpriteSheet 1s steps(6) infinite;
    image-rendering: pixelated;
}

@keyframes moveSpriteSheet {
    from{
        transform: translate3d(0px, 0, 0)
    }
    to{
        transform: translate3d(-100%, 0, 0)
    }
}

#playSpace{
    /* margin: 20px auto; */
    background-color: black;
}

.credit p{
    margin-top: 100px;
    text-align: center;
    font-size: 1rem;
}

.controlBox1{
    display: flex;
    flex-direction: row;
    gap:25vw;
    align-items: center;
}

.controlBox3{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;

}

.controlBox2{
    margin-top:30px;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.controlTitle{
    font-size: 2rem;
    text-align: center;

}

.rectangles{
    display: flex;
    width: 75px;
    height:75px;
    border-radius: 10px;
    background-color: tan;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: rgb(90, 72, 50);
}
.attack{
    background-color: rgb(203, 153, 89);
    color: rgb(66, 50, 30);
}


body{
    margin: 0;
    padding: 0;
    background-color: rgb(21, 24, 38)
}